# Once a viewer looks at a View, how many days pass before they look at a View again?

In [20]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [21]:
v_gap = pd.read_csv('/Users/granthakason/Downloads/Action Gap_Mock Data - Sheet1.csv')
v_gap = v_gap.loc[(v_gap['Actions'] == 'View') & (v_gap['Type'].isin(['View']))]

## Check data

In [22]:
v_gap.head()

       ID                  Business Actions  Type Captured on
0   787.0  Gringotts Wizarding Bank    View  View     8/24/22
6   451.0              Central Perk    View  View     2/27/23
12  870.0              Central Perk    View  View      6/8/22
14  249.0              Monsters Inc    View  View     1/19/23
26  631.0              Central Perk    View  View     2/13/23

In [23]:
v_gap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 997
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           250 non-null    float64
 1   Business     250 non-null    object
 2   Actions      250 non-null    object
 3   Type         250 non-null    object
 4   Captured on  250 non-null    object
dtypes: float64(1), object(4)
memory usage: 11.7+ KB

## Convert Recorded on to a date field

In [24]:
v_gap['Captured on']

0       8/24/22
6       2/27/23
12       6/8/22
14      1/19/23
26      2/13/23
         ...
984    12/16/22
988    12/26/22
993      7/8/22
995     2/15/23
997     11/9/22
Name: Captured on, Length: 250, dtype: object

In [25]:
v_gap['Captured on'] = pd.to_datetime(v_gap['Captured on'])

In [26]:
v_gap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 997
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           250 non-null    float64
 1   Business     250 non-null    object
 2   Actions      250 non-null    object
 3   Type         250 non-null    object
 4   Captured on  250 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 11.7+ KB

## Return_time Column Created.

In [27]:
# Sort the DataFrame by the 'user' field and then by the 'recorded on' field
v_gap = v_gap.sort_values(['ID', 'Captured on'])

# Create a new column called 'Return_Time'
v_gap['return_time'] = v_gap.groupby(['ID', 'Type'])['Captured on'].diff().apply(lambda x: x.days)

## Average time between Views (In Days)

### Overall

In [28]:
v_gap['return_time'].mean()

117.95833333333333

### By Relevant View Type

In [29]:
v_gap.groupby('Type')['return_time'].mean()

Type
View    117.958333
Name: return_time, dtype: float64

### By Customer

In [30]:
v_gap.groupby('Business')['return_time'].mean()

Business
Buy n Large                 173.000000
Central Perk                 80.000000
Cyberdyne Systems           111.750000
Gringotts Wizarding Bank     43.000000
Krusty Crab                 153.400000
Monsters Inc                140.000000
Umbrella Corporation         86.750000
Virtucon                    109.333333
Name: return_time, dtype: float64